.input {
    width: 30%;
    height: 30px;
    background-color: lightgray;
    border: 0.5px solid gray;
    border-radius: 5px;
    font: inherit;
    color: gray;
    font-size: 20px;
    text-align: center;
    margin: 3% 0 0 30%;
    padding: 6px 10px;
    box-shadow: 1px 1px 1px black;
  }

  @media (max-width: 500px) {
    .input {
        width: 40%;
        font-size: 15px;
        margin: 5% 0 0 25%;
        padding: 1%;
      }
  }
