.button {
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    background: linear-gradient(#2d3436, #636e72);
    color: #b2bec3;
    margin: 1%;
    box-shadow: 1px 1px 1px black;
  }
  
  .button:hover,
  .button:active {
    background: linear-gradient(#f7f1e3,#aaa69d);
    color: gray;
    cursor: pointer;
  }