.Footer {
    height: 150px;
    background-color: #182C61;
    margin: 50% 0 0 0;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.footer-text {
    font-family: cursive;
    font-size: 30px;
    display: flex;
    padding: 20px;
    flex-flow: column;
    font-weight: bold;
}

.img {
    height: 50px;
    width: 50px;
    display: flex;
    flex-flow: column;
    margin: auto;
}

.img:hover {
    cursor: pointer;
}

@media(max-width: 500px) {
    .Footer {
        height: 100px;
        margin: 85% 0 0 0;
    }
    .img {
        display: none;
    }
}